body {
    font-family: "Inter", sans-serif;
    text-align: center;
    background-color: #353535;
}

h1 {
    font-weight: 700;
    color: #fff;
}

h2 {
    font-weight: 500;
    color: #5a537b;
}

.input-block {
    background-color: #6943ff;
    max-width: 600px;
    margin: 2.5em auto 0 auto;
    padding: 1.25em 1.875em;
}

.input-form {
    max-width: 120px;
    margin: 0 auto;
}

button {
    border: 0;
    border-radius: 3px;
    background-color: #fff;
    color: #3d3d3d;
    font-size: 1rem;
    /* make fontsize rem */
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding: 0.625em 1.25em;
    margin: 1.5em 0px;
    width: 100%;
    cursor: pointer;

}

input {
    background-color: #6943ff;
    border: 2px solid #b295ff;
    border-radius: 3px;
    font-size: 3.625rem;
    /* 58px */
    font-weight: 800;
    color: #fff;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    background-color: #6943ff;
}

.value-results {
    background-color: #f4f4f4;
    max-width: 600px;
    height: fit-content;
    margin: 0 auto;
    padding: 1.25em 1.875em;
}

.length-results,
.volume-results,
.mass-results {
    background-color: #fff;
    margin: 0.63em;
    padding: 0.63em;
    color: #353535;
    font-weight: 400;
    font-size: 1rem;
    /* 16px */
}